/* css 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto:wght@100;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0 auto;
    padding:0;
    font-family: "Roboto",sans-serif;
    letter-spacing: -0.5px;
}
html, body {
    margin: 0;
    font-family: "Roboto",sans-serif;   
    background:#000;
    overflow-x:hidden;
}
a {
    text-decoration: none;    
}
i {
    font-style: normal;
}
ul {
    list-style: none;  
}
img {
    width:100%;
    height:auto;
}
button {
    border:none; 
    background:none;
    cursor: pointer;
}

$h-header : 70px;
$c-default : #fff;
$c-default-bg : rgba(133, 133, 133, 0.2);

@mixin emptyContent {
    display:block;
    clear:both;
    content:"";
}


#wrap {
    height:100%;
}

.snow {
    width:3px;
    height:3px;
    border-radius: 3px;
    background: $c-default;
    position: absolute;
    animation: snow 5s linear forwards;
}
@keyframes snow {  
	to {
		transform: translateY( 100vh );
	}
}

.navbar {  
    $root: &;
    &-item {
        height:70px;
        display:flex;
        align-items:center;        
    }
    &-link {
        a {
            display:inline-block;
            padding:10px;
            transition:all .3s ease-in;
            font-size:19px;
            color:$c-default;
        }
        &.is-active {
            a {
                color: #f8cd07;
                font-weight: bold;
            }
        }
    } 
    &.fixed {
        position:fixed;
        top:0;
        left:0;
        width:100%;
        z-index:100;
        background:#000;
    }   
}

.port-section {    
    /*width:100vw;*/
    height: calc( 100vh - 70px );
    margin:20px;    
    background:$c-default-bg;
    padding:20px;
    position:relative;
    z-index:2;
    .title {
        font-size:30px;  
        font-weight:bold;
        color:#f8cd07;   
        span {
            position:relative;
            &:after {
                @include emptyContent;
                width:30px;
                height:4px;
                position:absolute;
                bottom:-3px;
                left:0;  
                background:#f8cd07;
                transition: all 0.2s ease;
            }
        }        
    }
    &:hover {
        .title {
            span:after {
                width:100%;
            }
        }
    }
}

.home-item {  
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
    padding:0;
    background:#000;
    z-index:0;
    h1 {
        color:$c-default; 
        transform: translateY(-50%);
    }
    &__typing {
        &:after {
            display: inline-block;
            content: '|';
            position: relative;
            top: -3px;
            animation: blink 0.6s infinite;
        }
    }  
    .typed-cursor {
        opacity: 0;
        display: none;
    }
    
}
@keyframes blink {  
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}




.about {
    $about : '.about';
    &-content {
        width:700px;
        position:relative;
        top:50%;        
        transform:translate(0, -50%);
        margin:0 auto;
        padding-bottom:30px;
    }
    &-intro {
        display:flex;
        align-items:flex-end;
        padding-bottom:40px;
        position:relative;
        &__img {
            display:block;
            width:300px;
            height:300px;
            border-radius:100%;
            overflow:hidden;
            opacity: 0;
            visibility: hidden;
            transform: translate(-150px, -200px) rotate(-50deg);
            transition: all .6s ease-in-out;
            
        }
        &__title {
            font-size:150px;
            font-weight:bold;
            color:#f8cd07;
            transform: translate(150px, -200px) rotate(50deg);
            opacity: 0;
            visibility: hidden;
            transition: all .6s ease-in-out;
            transition-delay: .2s;
        }
    }
    &-textbox {
        text-align:right;
        word-break: keep-all;
        opacity: 0;
        visibility: hidden;
        transition: all 2s ease-in-out;
        &__title {
            margin-bottom:30px;
            font-size:25px;
            font-weight:bold;
            color:$c-default;           
        }
        &__list {
            font-size:20px;
            color:$c-default;
            li ~ li {
                margin-top:5px;  
            }
        }  
    }
    &-item.is-active {
        .about-intro__img,
        .about-intro__title,
        .about-textbox {
           opacity: 1;
           visibility: visible;
        }
        #{$about}-intro {
            &__img, &__title  {
                transform: translate(0, 0) rotate(0);
            }    
        }
    }   
}


.skill {
    $skill : '.skill';
    &-content {
        position:relative;
        top:50%;
        transform:translate(0, -50%);
    }
    &-list {
        display:flex;
        align-items:center;
        & ~ & {
            margin-top:50px;
        }
        &__title {
            min-width:150PX;
            font-size:20px;
            color:$c-default;
        }
        &__graph {
            background:$c-default;
            width:100%;  
            height:25px;
            line-height:25px;
            position:relative;
            i {
                display:block;
                position:absolute;
                top:0;
                left:0;
                width:0;
                height:25px;
                background: linear-gradient(120deg, #f6d365 0%, #ff9070 100%);
                padding-right:10px;
                text-align:right;
                font-size:18px;
                color:$c-default;
                overflow:hidden;
                visibility: hidden;
                transition: all .5s ease-in;
            }   
        }
        &:nth-child(2) i {  
            background: linear-gradient(120deg, #39d12d 0%, #197112 100%);
        } 
        &:nth-child(3) i {  
            background: linear-gradient(120deg, #2053fd 0%, #032d73 100%);
        } 
        &:nth-child(4) i {  
            background: linear-gradient(120deg, #ff5fd7 0%, #a91584 100%);
        }
        &:nth-child(5) i {  
            background: linear-gradient(120deg, #83aec1 0%, #0076ab 100%);
        }
        &:nth-child(6) i {  
            background: linear-gradient(120deg, #9e9e9e 0%, #3f4e54 100%);
        } 
    }
    &-item.is-active {
        #{$skill}-list i {
            visibility: visible;
        }
        #{$skill}-list:nth-child(1) i {
            width:80%;
            transition-delay: .1s;
        }
        #{$skill}-list:nth-child(2) i {
            width:80%;
            transition-delay: .2s;
        }
        #{$skill}-list:nth-child(3) i {
            width:60%;
            transition-delay: .3s;
        }
        #{$skill}-list:nth-child(4) i {
            width:50%;
            transition-delay: .4s;
        }
        #{$skill}-list:nth-child(5) i {
            width:30%;
            transition-delay: .5s;
        }
        #{$skill}-list:nth-child(6) i {
            width:30%;
            transition-delay: .6s;
        }
        
    }
}

.portfolio {
    $section: ".portfolio";
    &-item {
        height:auto
    }
    &-box {
        position:relative;
        width:400px;
        height:400px;
        margin-bottom:50px;
        text-align:center;  
        transition:opacity 3s ease-in;
        &-wrap {
            display:flex;
            flex-flow: wrap;
            padding:100px 0;
        }
        &__item {
            display:flex;
            position:relative;
            width:100%;
            height:100%;
            .thumb {
                position:relative;
                width:100%;
                background:#fff;
                &:after {
                    @include emptyContent;
                    width:100%;
                    height:100%;
                    position:absolute;
                    top:0;
                    left:0;
                    background: rgba(0, 0, 0, .5);
                }                
                img {
                    width:100%;
                    height:100%;
                    
                }
                span {
                    height:100%;
                    display:flex;
                    align-items:center;
                    justify-content: center;
                }
            } 
            .text-info {
                width:400px;
                position:absolute;
                top:50%;
                left:50%;
                transform:translate(-50%, -50%);
                color:$c-default;
                z-index:2;
                &__category {
                    font-size:15px;
                }
                &__title {
                    font-size:14px;
                }
                &__work {
                    display:inline-flex;
                    justify-content: center;
                    align-items: center;
                    vertical-align: middle;
                    padding:3px 5px;
                    font-size:13px;
                    background:#fff;
                    border:2px solid #3c4aad;
                    color:#3c4aad;
                    & ~ span {
                        margin-left:5px;
                    }
                }
                &__date {
                    font-size:12px;
                }
                &__link {
                    display:inline-flex;
                    align-items:center;
                    height:26px;
                    padding:3px 5px;
                    background:#3c4aad;
                    border-radius:3px;
                    font-size:12px;
                    color:$c-default;
                }
                li ~ li {
                    margin-top:10px;
                }
            }      
        }
    }
}

.contact {
    &-content {
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
    }
    &-card {
        display:flex;
        align-items:center;
        &__button {
            flex:1;
            margin-right:50px;
            button {
                display:block;
                width:30px;
                height:30px;
                background:$c-default;
                border-radius:100%;
                box-shadow: 1px 3px 3px 0px #282828;
                /*
                &:nth-child(1){
                    background: linear-gradient(#1b2781 0%, #3c4aad 100%);
                }
                &:nth-child(2){
                    background: linear-gradient(#247a22 0%, #72ff70 100%);
                }
                &:nth-child(3){
                    background: linear-gradient(#f8cd07 0%, #625516 100%);
                }
                &:nth-child(4){
                    background: linear-gradient(#631b81 0%, #3c6ead 100%);
                }
                
                */
                & ~ button {
                    margin-top:15px
                }
                &.is-active {
                    border: 3px solid #d4d4d4;
                }
            }
            
        }
        &__item {
            position:relative;
            background: linear-gradient(#1b2781 0%, #3c4aad 100%);
            width:400px;
            height:250px;
            border-radius:10px; 
            box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.3);
        }  
        &__title {
            position:absolute;
            top:20px;
            left:20px;
            font-size:20px;
            font-weight:bold;
            color:$c-default;
        }
        &__list {
            position:absolute;
            bottom:20px;
            right:20px;
            color:$c-default;
            li {
                text-align:right;
                span {
                    margin-right:10px;
                }
                a {
                    color:$c-default; 
                }
                & ~ li {
                    margin-top:5px;
                }
            }
        }
       
    }
}

@media all and (max-width: 768px){
    .port-section {
        
    }
    .about {
        &-content {
            width:auto;
            padding-bottom:0;
        }
        &-intro {
            display:block;
            padding-bottom:20px;
            &__img {
                width:200px;
                height:200px;
            }
            &__title {
                display:block;
                text-align:right;
                font-size:40px;
            }
        }
        &-textbox {
            &__title {
                font-size:20px;
            }
            &__list {
                font-size: 15px;
            }
        }
    }

    .skill {
        &-list {
            & ~ & {
                margin-top:20px;  
            }
        }
    }

    .contact {
        &-card {
            display:block;
            &__item {
                width:320px;
                height:180px;
            }
            &__title {
                top:14px;
                left:14px;
                font-size:14px;
            }
           
            &__list {
                bottom:14px;
                left:14px;
                font-size:14px;
                & ~ & {
                    margin-top:2px;  
                }
            }
            &__button {
                width:100%;  
                margin-bottom:20px;
                flex:none;
                display:flex;
                justify-content: center;
                button {
                    margin:0;
                }
                button ~ button {
                    margin:0 0 0 10px;
                }
            }  
        }
    }
}